body{
    background-image: linear-gradient(90deg, #9400D3 20%, #0000FF 30%, #00008B 40%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
}

.container{
    width: calc(50vw);
    height: 120px;
    background-color: rgba(255, 250, 20, 0.41);
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

button{
    width: 100px;
    color: #00008B;
    font-size: 2em;
}

#number{
    padding: 5px 20px;
    font-weight: bolder;
    font-size: 2rem;
    background-color: azure;
    width: 120px;
    text-align: center;
    border: 2px solid #A9A9A9;
    color: #0000FF;
}